.review{
    border: 5px solid transparent;
    background: linear-gradient(to left, #555, #555) padding-box,
      linear-gradient(to left, #743ad5, #d53a9d) border-box;
    border-image-slice: 1;
    border-radius: 10px;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
height:300px;
width:300px;
    padding:1rem 2rem;

   margin:10rem auto;
   margin-bottom:-10rem;;

}

.review p{
    margin-bottom:1rem;
}


.review img{
    height:100px;
    width:100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom:1rem;
}

.feedback-author,.feedback{
    background: linear-gradient( to left,#743ad5, #d53a9d);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    font-weight:800;

   
}